{% extends 'base.html.twig' %}
 
{% block body %}
     {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey }} :login is not valide

        </div>
    {% endif %} 
 
    <div class="row">
        <div class="col-sm-5">
            <div class="well">
                <form action="{{ path('security_login') }}" method="post">
                    <fieldset>
                        <legend><i class="fa fa-lock" aria-hidden="true"></i> Connexion</legend>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de passe</label>
                            <input type="password" id="password" name="_password" class="form-control" />
                        </div>
                            
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> Entrer
                        </button>

                        <br><br>
                        <a href="{{ path('find_email')}}">Informations de compte oubliées ? </a>

                    </fieldset>
                </form>
            </div>
        </div>
 
{% endblock %}