{% extends 'base.html.twig' %}
 

{% block body %}
    <style>
    body { background: black; }
    .grow { transition: all .5s ease-in-out; 
        background-color:coral;
        color:black;
        width: 1000px;
    }
    .grow:hover { transform: scale(1.6); }
    .container{background-color: black;}
    .logout{color: whitesmoke;
        font-size: 2em;
        font-family: Arial, Helvetica, sans-serif;
    }
    div a:hover{
        font-family: 4em;
    }

    </style> 
<div class="container">

{% if (app.user) %}
<div class="logout">
<a href="{{ path('security_logout')}}"> logout</a></div>

<center><div class="grow" ><h1>WELCOME Mr : {{(app.user.username) }} To Admin Space</h1></div>
</center>
{% else %}
<button value="logout" name="logout">
<a href="{{ path('security_login')}}"> Connexion</a></button>
 {% endif %}
   </div>   
{% endblock %}
 