{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}
  

{% block body %}
     <style>
    body{
        background-color: black;
        color: red;
    }
    </style>

    <h1>Page not found</h1>

    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('index') }}">return to the homepage</a>.

    </p>
    <hr>

        <label>An Error Occurred: {{ status_text }}</label>
        <h1>Oops! An Error Occurred</h1>
        <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>

        <div>
            Something is broken. Please let us know what you were doing when this error occurred.
            We will fix it as soon as possible. Sorry for any inconvenience caused.
        </div>

{% endblock %}